@if (task$ | async; as task) {
  <section class="item-wrapper">
    <div class="item-card">
      <div class="task-header">{{ task.title }}</div>
      <div class="task-field">
        <span class="label">Assignee:</span>
        <span class="value">{{ task.assignee.email }}</span>
      </div>
      @if (task.description) {
        <div class="task-field">
          <span class="label">Description:</span>
          <span class="value">{{ task.description }}</span>
        </div>
      }
      <div class="task-field">
        <span class="label">Due date:</span>
        <span class="value">{{ task.dueDate }}</span>
      </div>
      <div class="task-field">
        <span class="label">Status:</span>
        <mat-chip [ngClass]="getStatusClass(task.status)">
          {{ task.status | taskStatus}}
        </mat-chip>
      </div>
      <div class="task-field">
        <mat-form-field appearance="fill" class="status-select">
          <mat-label>Статус</mat-label>
          <mat-select [value]="task.status" (selectionChange)="updateStatus(task.id, $event)">
            <mat-option [value]="TaskStatus.TODO">To do</mat-option>
            <mat-option [value]="TaskStatus.IN_PROGRESS">In progress</mat-option>
            <mat-option [value]="TaskStatus.DONE">Done</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="actions">
      <button mat-stroked-button color="primary" [routerLink]="['/workbench', { outlets: { primary: ['tasks', 'list'], aside: ['stats'] } }]"
      >
        <mat-icon>arrow_back</mat-icon>
        Go back
      </button>
    </div>
  </section>
}
