.task-item {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  background: #f9f9f9;
}

h3 {
  margin: 0;
  color: #333;
}

.task-item-button {
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
  margin-top: 10px;

  &.delete {
    background-color: #ff4d4d;

    &:hover {
      background-color: #cc0000;
    }
  }

  &.edit {
    background-color: #007bff;

    &:hover {
      background-color: #0056b3;
    }
  }
}

.task-item-buttons {
  display: flex;
  gap: 5px;
}


.todo {
  color: #999;
}

.done {
  color: green;
}

.in-progress {
  color: orange;
}

select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  background: white;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
}

select:hover {
  border-color: #888;
}

select:focus {
  outline: none;
  border-color: #555;
}


option {
  padding: 5px;
}
