<mat-card class="task-item">
  <mat-card-header>
    <mat-card-title>{{ task.title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    @if(task.description) {
      <p><strong>Опис:</strong> {{ task.description }}</p>
    }
    <p><strong>Виконавець:</strong> {{ task.assignee }}</p>
    <p><strong>Дата виконання:</strong> {{ task.dueDate | date:'d.MM.yyyy'}}</p>
    <p><strong>Статус: </strong><span [ngClass]="getStatusClasses()">{{ task.status |
      taskStatus}}</span></p>
    <mat-form-field>
      <mat-label>Статус</mat-label>
      <mat-select [value]="task.status" (selectionChange)="updateStatus($event)">
        <mat-option [value]="TaskStatus.TODO">До роботи</mat-option>
        <mat-option [value]="TaskStatus.IN_PROGRESS">В процесі</mat-option>
        <mat-option [value]="TaskStatus.DONE">Виконано</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-fab class="task-item-button edit"
            (click)="editTask()"><mat-icon>edit</mat-icon></button>
    <button mat-fab class="task-item-button delete"
            (click)="deleteTask(task.id)"><mat-icon>delete</mat-icon></button>
  </mat-card-actions>
</mat-card>
