<!--<mat-sidenav-container class="app-container">-->
<!--  <mat-sidenav-content class="app-sidenav-content">-->
<!--    <div class="app-content">-->
<!--      @if (isTasksRoute$ | async) {-->
<!--        <aside class="app-aside">-->
<!--          <router-outlet name="aside"></router-outlet>-->
<!--        </aside>-->
<!--        <main class="app-main">-->
<!--          <router-outlet></router-outlet>-->
<!--        </main>-->
<!--      } @else {-->
<!--        <main class="app-main">-->
<!--          <router-outlet></router-outlet>-->
<!--        </main>-->
<!--      }-->
<!--    </div>-->
<!--  </mat-sidenav-content>-->
<!--</mat-sidenav-container>-->
<router-outlet></router-outlet>
