<form [formGroup]="taskForm" class="task-form">

<mat-form-field appearance="outline">
  <mat-label>Title</mat-label>
  <input matInput type="text" id="title" formControlName="title">
  <mat-error *ngIf="taskForm.get('title')?.hasError('required') &&
taskForm.get('title')?.dirty">
    The "Title" field is required.
  </mat-error>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Description</mat-label>
  <input matInput type="text" id="description" formControlName="description">
  <mat-error *ngIf="taskForm.get('description')?.hasError('forbiddenWord')">
    Entering the words React and Vue is prohibited
  </mat-error>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Due date</mat-label>
  <input matInput type="date" id="dueDate" formControlName="dueDate">
  <mat-error *ngIf="taskForm.get('dueDate')?.hasError('required') &&
taskForm.get('dueDate')?.dirty">
    The "Deadline Date" field is required.
  </mat-error>
  <mat-error *ngIf="taskForm.get('dueDate')?.hasError('dateVal')">
    The year cannot be less than the current year.
  </mat-error>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Status</mat-label>
  <mat-select id="status" formControlName="status">
    <mat-option [value]="TaskStatus.TODO">To do</mat-option>
    <mat-option [value]="TaskStatus.IN_PROGRESS">In progress</mat-option>
    <mat-option [value]="TaskStatus.DONE">Done</mat-option>
  </mat-select>
  <mat-error *ngIf="taskForm.get('status')?.hasError('required') &&
taskForm.get('status')?.dirty">
    The "Status" field is required.
  </mat-error>
</mat-form-field>

<div class="form-actions">
  <button mat-raised-button color="primary" type="submit"
          [disabled]="!taskForm.valid" (click)="onSubmit()">
    {{ editMode() ? 'Update task' : 'Add a new task'}}
  </button>
  <button mat-button mat-dialog-close>Cancel</button>
</div>
</form>
