<section class="task-list-container">
  <div class="task-header">
    <h2>List of tasks</h2>
    <button mat-raised-button (click)="openDialog()">Add new task</button>
  </div>
  <mat-form-field>
    <mat-label>Filter by status</mat-label>
    <mat-select (selectionChange)="onSelected($event)">
      <mat-option [value]="''">All</mat-option>
      <mat-option [value]="TaskStatus.TODO">To do</mat-option>
      <mat-option [value]="TaskStatus.IN_PROGRESS">In progress</mat-option>
      <mat-option [value]="TaskStatus.DONE">Done</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Search (title, description, author)</mat-label>
    <input matInput type="text" id="filter" [formControl]="filterControl">
  </mat-form-field>

  @if (hasLoading) {
    <mat-spinner></mat-spinner>
  } @else {
    <div class="task-list">
      @if (myTasks$ | async; as data) {
        @for(task of data; track task.id; let index = $index) {
          <app-task-item
            [task]="task"
            (taskEdited)="editTask($event)"
          >
          </app-task-item>
        } @empty {
          <p>List of tasks is empty</p>
        }
      }
    </div>
  }
</section>
